.image-wrapper
{
    width: 100%;
    background-color: red;
    /* transform:translateY(90deg) */

}
.image-view
{
    border-radius: 29px;
    width:58px;
    height: 58px;
    background-color: white;
    position: absolute;
    /* z-index: 1; */
    border: 3px solid white;
  
}